<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Christopher's weblog</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Blog site.">

        <!-- Let's get the static files where we use them, but this could be before the html tag -->
	    {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'blog/css/bulma.css' %}" type="text/css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- <link rel="stylesheet" href="{% static 'blog/css/cupar.css' %}" type="text/css" /> -->
    </head>    
    <body>

        <section class="hero is-success is-bold">
            <div class="hero-body">
                <div class="container">
                    {% block slogan %}
                        {% for propaganda in propagandas %}
                            <h6>{{ propaganda.slogan }} it's</h6>
                        {% endfor %}
                    {% endblock %}
                    <h1 class="title" style="display: inline-block;">
                        <span class="icon">
                            <i class="fa fa-home"></i>
                            </span>
                        <a href="{% url 'post_list' %}">The Ultimate Definitive Guide to UX and Interaction Design</a>
                    </h1>

                    {% if user.is_authenticated %}
                    <div class="field">
                        <div class="control">                            
                            <a href="{% url 'post_new' %}" class="button is-warning is-pulled-right">
                                <span class="icon">
                                    <i class="fa fa-plus-square"></i>
                                </span>
                                <span>New post</span>
                            </a>
                        </div>
                    </div>
                    {% endif %}

                </div><!-- @container -->
            </div>
        </section>
        <!-- content under header in here-> -->
        {% block content %}
        {% endblock %}
    </body>
</html>