{% extends 'blog/header.html' %}

{% block content  %}
    <section class="section">
        <div class="container"> 
            
            <div class="field">
                <div class="control">
                    <a class="button is-warning is-pulled-right" href="{% url 'post_edit' pk=post.pk %}">
                    <span class="icon">
                        <i class="fa fa-edit"></i>
                    </span>
                    <span>Edit</span>
                    </a>
                </div>
            </div>

            <h1 class="title is-1">{{ post.title }}</h1>
            <div class="columns is-centered">
                <div class="column is-three-quarters">
                    {{ post.content|safe }}
                </div>
            </div>

            <div class="columns">
                <div class="column is-1">
                    <p class="content is-small">Created:</p>                    
                </div>
                <div class="column is-2">
                    <p class="content is-small">{{ post.created_date }}</p>
                </div>
            </div>
            <div class="columns">
                <div class="column is-1">
                    <p class="content is-small">Last edited:</p>                    
                </div>
                <div class="column is-2">
                    <p class="content is-small">{% if post.last_edited %}
                                                    {{ post.last_edited }}
                                                {% endif %}
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
