{% extends 'blog/header.html' %}

{% block content  %}
    <section class="section">
        <div class="container"> 
            
            {% if next_page %}<a href="{{ next_page.get_absolute_url }}">Next</a></p>{% else %}<span class="disabled">There are no more articles!</span>{% endif %}
            {% if prev_page %}<a href="{{ prev_page.get_absolute_url }}">Previous</a></p>{% else %}<span class="disabled">&#nbsp;</span>{% endif %}

            <h1 class="title is-1">{{ post.title }}</h1>
            <div class="columns is-centered">
                <div class="column is-three-quarters">
                    {{ post.content|safe }}
                </div>
            </div>

            <div class="columns">
                <div class="column is-1">
                    <p class="content is-small">Created:</p>                    
                </div>
                <div class="column is-2">
                    <p class="content is-small">{{ post.created_date }}</p>
                </div>
            </div>
            <div class="columns">
                <div class="column is-1">
                    <p class="content is-small">Last edited:</p>                    
                </div>
                <div class="column is-2">
                    <p class="content is-small">{% if post.last_edited %}
                                                    {{ post.last_edited }}
                                                {% endif %}
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
