{% extends "blog/header.html" %}

{% block content %}

    {% for post in posts %}
        <section class="section">
            <div class="container">
                <span class="icon is-large">
                    <i class="fa fa-book"></i>
                </span>
                <h1 class="title is-1" style="display:inline-block;"><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
                <p>{{ post.summary|linebreaksbr }}</p>
                <p>published: {{ post.last_edited }}</p>
            </div>
        </section>
    {% endfor %}

{% endblock %}
